/* COMMON BUTTON STYLE */
.floating-btn {
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease-in-out;
}

/* Hover animation */
.floating-btn:hover {
  transform: scale(1.12);
}

/* WhatsApp Button */
.whatsapp-btn {
  bottom: 90px;
  background-color: #25d366;
}

/* Call Button */
.call-btn {
  bottom: 25px;
  background-color: #0b74ff;
}
